@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: black;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%;
}

@theme {
  --color-primary: black;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --breakpoint-xs: 480px;
}

h1, h2, h3 {
  font-family: "Poppins", system-ui, sans-serif;
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl 
         font-bold
         leading-[1.1]
         tracking-tight
         text-white
         transition-all
         duration-300;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

h2 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl
         leading-tight
         transition-all
         duration-300;
}

h4,
p {
  font-family: "Inter", system-ui, sans-serif;
}

main {
  @apply max-h-screen h-[35vh] relative bg-primary;
}

header {
  align-items: baseline;
  display: flex;
  align-items: flex-start;
  justify-content: left; /* Centers items horizontally */
}

.wrapper {
  @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
}
