@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Bebas Neue", "Playfair", serif;
  background-color: black;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%;
}

@theme {
  --color-primary: black;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --breakpoint-xs: 480px;
}

h1 {
  @apply text-7xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl 
         font-bold  
         leading-[1.25]
         mt-4 
         text-white;
}

h2 {
  font-size: 2rem;
  @apply text-8xl leading-[140px] md:max-w-4xl md:text-left md:text-9xl md:leading-[170px] md:text-[96px];
}
h4,
p {
  font-family: "Saira Condensed";
}
main {
  @apply max-h-screen h-[35vh] relative bg-primary;
}

header {
  align-items: baseline;
  display: flex;
  align-items: flex-start;
  justify-content: left; /* Centers items horizontally */
}

.wrapper {
  @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
}
